/*____Base____*/

::-moz-selection {
	background: black;
	color: #fff;
}

::selection {
	background: black;
	color: #fff;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

div.container {
	max-width: $tablet;
	margin: 0 auto;
	padding: 0 30px;
}

/* header stylings */
h1 {
	font-size: 4.6em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 2.0em;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	line-height: 1.3em;
	margin: 20px 0 20px 0;
}

.code {
	font-family: monospace;
	background-color: lightgrey;
	border: solid 1px lightgrey;
	padding: 2px;
}