footer {
    border-top: 1px solid #000000;
    p.copy {
        float: left;
        color: #000000;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
        padding: 30px 0;
        line-break: 1em;
        letter-spacing: 2px;
    }
    a.tmwlsh {
        font-size: 12px;
        margin: 30px 0 0 20px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        float: left;
        text-decoration: none;
        position: relative;
        color: #000000;
        &:after {
            left: 0;
            bottom: -5px;
            position: absolute;
            width: 100%;
            height: 2px;
            content: '';
            display: block;
            background-color: #666666;
        }
    }
    ul.social {
        display: block;
        margin: 0;
        padding: 0;
        float: right;
        li {
            list-style-type: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            a {
                display: block;
                padding: 20px 10px;
                margin: 10px 0;
                color: #000000;
            }
        }
    }
    @media all and (max-width: $tablet){
        p.copy {
            float: none;
            text-align: center;
            padding: 30px 0 0 0;
        }
        a.tmwlsh {
            float: none;
            text-align: center;
            display: block;
            background-color: #000000;
            color: #ffffff;
            width: 100px;
            padding: 20px;
            margin: 0 auto 30px auto;
            &:after {
                display: none;
            }
        }        
        ul.social {
            padding: 30px 0;
            float: none;
            text-align: center;
            li {
                a {
                    padding: 10px;
                    margin: 0;
                }
            }
        }
    }
}