body.home {
    header {
        background-color: transparent;
        &.scrolled {
            background-color: #000000;
        }
    }
}

div.mobile-nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    background-color: rgba(black, 0.9);
    transform: translateX(100%);
    transition: 0.5s 0.5s $transition;
    nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: block;
                a {
                    color: #ffffff;
                    font-size: 30px;
                    text-decoration: none;
                    padding: 10px 0;
                    display: block;
                }
            }
        }
    }
    &.open {
        transform: translateX(0);
    }
}

header {
    transition: background-color 0.5s $transition;
    background-color: #000000;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 30px 0;
    a {
        display: inline-block;
        float: left;
        img {
            max-width: 120px;
        }
    }
    div.hamb {
        width: 50px;
        height: 42px;
        float: right;
        display: none;
        cursor: pointer;
        position: relative;
        transition: 0.5s 0.5s $transition;
        div.line {
            width: 40px;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
            transition: 0.5s $transition;
            left: 5px;
            opacity: 1;
            &:nth-of-type(1){
                top: 10px;
            }
            &:nth-of-type(2){
                top: 20px;
            }
            &:nth-of-type(3){
                top: 30px;
            }
        }
        &.open {
            transform: rotate(-90deg);
            div.line {
                &:nth-of-type(1){
                    transform: rotate(-45deg);
                    top: 19px;
                }
                &:nth-of-type(2){
                    opacity: 0;
                }
                &:nth-of-type(3){
                    transform: rotate(45deg);
                    top: 19px;
                }
            }
        }
    }
    nav {
        float: left;
        margin: 0 0 0 30px;
        width: calc(100% - 150px);
        ul {
            margin: 0;
            padding: 0;
            display: block;
            list-style-type: none;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            li {
                float: left;
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: inline-block;
                &:last-of-type {
                    float: right;
                    a {
                        font-weight: 600;
                    }
                }
                a {
                    display: block;
                    padding: 12px 30px;
                    color: #ffffff;
                    text-decoration: none;
                    text-transform: lowercase;
                    font-size: 14px;
                    box-sizing: border-box;
                }
            }
        }
    }
    &.scrolled {
        background-color: #000000;
    }
    @media all and (max-width: $tablet){
        div.hamb {
            display: block;
        }
        nav {
            display: none;
        }
    }
}