div.homepage {
    .home-header {
        height: 90vh;
        position: relative;
        background: #000000;
        background-position: 50% 50%;
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
        .home-header-inner {
            top: 50%;
            width: 100%;
            position: absolute;
            transform: translateY(-50%);
            h3 {
                color: #ffffff;
                font-weight: 400;
                font-size: 24px;
                margin: 0;
                line-height: 1.3em;
            }
            h2 {
                font-size: 80px;
                color: #ffffff;
                margin: 20px 0 70px 0;
                line-height: 1em;
                max-width: 700px;
            }
            a {
                display: inline-block;
                padding: 17px 37px;
                background-color: #ffffff;
                color: #000000;
                border: 3px solid #ffffff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                transition: 0.5s $transition;;
                &:hover {
                    background-color: transparent;
                    color: #ffffff;
                }
            }
        }
        div.scroll {
            border-left: 3px solid #ffffff;
            border-bottom: 3px solid #ffffff;
            width: 30px;
            height: 30px;
            position: absolute;
            left: calc(50% - 15px);
            cursor: pointer;
            transform: translateY(-50%) rotate(-45deg);
            bottom: 40px;
        }
        iframe {
            width: 100vw;
            height: 56.25vw;
            min-height: 100vh;
            min-width: 177.77vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.desktop {
                display: block;
            }
            &.mobile {
                display: none;
            }
        }
        @media all and (max-width: $tablet){
            .home-header-inner {
                h2 {
                    font-size: 60px;
                    margin: 20px 0 50px 0;
                }
            }
        }
        @media all and (max-width: $mobile){
            .home-header-inner {
                h2 {
                    font-size: 40px;
                    margin: 10px 0 30px 0;
                }
                a {
                    font-size: 14px;
                }
            }
            iframe {
                &.desktop {
                    display: none;
                }
                &.mobile {
                    display: block;
                }
            }
        }
    }

    .home-text-row {
        padding: 75px 0;
        p {
            font-size: 30px;
            line-height: 1.5em;
            text-transform: lowercase;
            color: #000000;
            @media all and (max-width: $tablet){
                font-size: 24px;
            }
            @media all and (max-width: $mobile){
                font-size: 18px;
            }
        }
    }

    .service-row {
        display: block;
        width: 100%;
        padding: 100px 0 0 0;
        a.service {
            float: left;
            width: calc(50% - 30px);
            margin-right: 60px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            height: 600px;
            overflow: hidden;
            div.background {
                top: 0;
                left: 0;
                width: 100%;
                z-index: 10;
                height: 100%;
                position: absolute;
                transition: 0.5s $transition;;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
            div.content {
                background-color: #ffffff;
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 20;
                text-decoration: none;
                color: #000000;
                width: 100%;
                max-width: 300px;
                padding: 20px;
                box-sizing: border-box;
                transition: 0.5s $transition;;
                h3 {
                    color: #000000;
                    font-size: 16px;
                    margin: 0 0 5px 0;
                    text-transform: lowercase;
                }
                p {
                    color: #000000;
                    font-size: 20px;
                    margin: 0;
                    text-transform: lowercase;
                }
            }
            &:nth-of-type(2n-1){
                margin-top: 60px;
            }
            &:nth-of-type(2n){
                margin-right: 0;
            }
            &:hover {
                div.background {
                    transform: scale(1.1);
                }
                div.content {
                    padding: 30px;
                    max-width: 330px;
                }
            }
            @media all and (max-width: $tablet){
                height: 500px;
            }
            @media all and (max-width: 768px){
                display: block;
                float: none;
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
                height: 400px;
                div.content {
                    p {
                        font-size: 14px;
                    }
                }
                &:nth-of-type(2n){
                    margin-top: 0;
                }
            }
        }
        &.two {
            padding: 0 0 100px 0;
        }
        &:nth-of-type(2){
            a.service {
                &:nth-of-type(2n){
                    margin-top: 60px;
                    margin-right: 0;
                }
                &:nth-of-type(2n-1){
                    margin-top: 0;
                }
                @media all and (max-width: 768px){
                    &:nth-of-type(2n){
                        margin-top: 0;
                    }
                }
            }
        }
        div.view-all-container {
            float: left;
            width: 100%;
            padding: 50px 0;
            display: block;
            text-align: center;
            a {
                display: inline-block;
                padding: 17px 37px;
                background-color: #000000;
                color: #ffffff;
                border: 3px solid #000000;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 1px;
                transition: 0.5s $transition;;
                box-sizing: border-box;
                &:hover {
                    background-color: transparent;
                    color: #000000;
                }
            }
            @media all and (max-width: $mobile){
                a {
                    display: block;
                    width: 100%;
                    text-align: center;
                    padding: 30px;
                }
            }
        }
    }
}