.single-services {
    h1 {
        position: relative;
        padding-left: 120px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-transform: lowercase;
        &:before {
            content: '';
            width: 100px;
            height: 10px;
            background-color: #000000;
            position: absolute;
            left: 0;
            top: calc(50% + 5px);
            transform: translateY(-50%);
        }
    }
    @media all and (max-width: $tablet){
        h1 {
            font-size: 40px;
            padding-left: 80px;
            &:before {
                width: 60px;
                height: 6px;
                top: calc(50% + 2px);
            }
        }
    }
    @media all and (max-width: $mobile){
        h1 {
            font-size: 25px;
            padding-left: 40px;
            &:before {
                width: 30px;
                height: 2px;
            }
        }
    }
}