.module-contact-form {
    padding: 50px 0;
    .form-container {
        .column {
            float: left;
            width: calc(50% - 30px);
            margin-right: 60px;
            &:nth-of-type(2n){
                margin-right: 0;
            }
            .form-field {
                display: block;
                input, textarea {
                    width: 100%;
                    display: block;
                    margin-bottom: 10px;
                    padding: 20px;
                    box-sizing: border-box;
                    border: 3px solid #000000;
                    outline: none;

                    &[type="submit"]{
                        width: auto;
                        display: inline-block;
                        padding: 17px 37px;
                        background-color: #000000;
                        color: #ffffff;
                        border: 3px solid #000000;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 600;
                        transition: 0.5s $transition;
                        &:hover {
                            background-color: transparent;
                            color: #000000;
                        }
                    }
                }
            }
            @media all and (max-width: $tablet){
                width: 100%;
                float: none;
                margin-right: 0;
                .form-field {
                    input[type="submit"]{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
    ul.contact {
        display: block;
        width: 100%;
        margin: 20px 0 0 0;
        padding: 0;
        list-style-type: none;
        li {
            padding: 0;
            margin: 0 0 10px 0;
            list-style-type: none;
            font-weight: 600;
            font-size: 14px;
            text-transform: lowercase;
            line-height: 1.3em;
            a {
                color: #000000;
                text-decoration: none;
            }
            &:last-of-type {
                margin: 0;
            }
        }
    }
    span.wpcf7-not-valid-tip {
        display: block;
        padding: 0 0 10px 0;
    }
    div.wpcf7-response-output {
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0 30px 0;
        padding: 20px;
        text-align: center;
        line-height: 1.3em;
    }
}