.module-image-list {
    padding: 50px 0;
    .image-container {
        float: left;
        width: calc(50% - 30px);
        margin-right: 60px;
        img {
            width: 100%;
            display: block;
        }
        &:nth-of-type(2n){
            margin-right: 0;
            margin-top: 60px;
        }
        @media all and (max-width: 768px){
            float: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            &:nth-of-type(2n){
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    @media all and (max-width: $tablet){
        h2 {
            font-size: 24px;
        }
    }
    @media all and (max-width: $mobile){
        padding: 0;
        h2 {
            font-size: 18px;
        }
    }
}