.module-quote {
    padding: 100px 0;
    text-align: center;
    span.mark {
        font-size: 50px;
        opacity: 0.2;
        margin: 0 0 20px 0;
        display: block;
        text-align: center;
        transform: rotate(180deg);
    }
    h3 {
        margin: 0;
    }
    p {
        margin: 20px 0 0 0;
        opacity: 0.6;
    }
    @media all and (max-width: $tablet){
        h3 {
            font-size: 28px;
        }
    }
    @media all and (max-width: $mobile){
        padding: 50px 0;
        h3 {
            font-size: 22px;
        }
    }
}