.module-services-row {
    padding: 20px 0 100px 0;
    a.service {
        float: left;
        width: calc(50% - 30px);
        margin-right: 60px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        height: 500px;
        overflow: hidden;
        div.background {
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            height: 100%;
            position: absolute;
            transition: 0.5s $transition;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
        div.content {
            background-color: #ffffff;
            display: inline-block;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 20;
            text-decoration: none;
            color: #000000;
            width: 100%;
            max-width: 300px;
            padding: 20px;
            box-sizing: border-box;
            transition: 0.5s $transition;
            h3 {
                color: #000000;
                font-size: 16px;
                margin: 0 0 5px 0;
                text-transform: lowercase;
            }
            p {
                color: #000000;
                font-size: 20px;
                margin: 0;
                text-transform: lowercase;
            }
        }
        .offer {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 20;
            background-color: #ffffff;
            padding: 20px;
            color: #000000;
        }
        &:nth-of-type(2n-1){
            margin-top: 60px;
        }
        &:nth-of-type(2n){
            margin-right: 0;
        }
        &:hover {
            div.background {
                transform: scale(1.1);
            }
            div.content {
                padding: 30px;
                max-width: 330px;
            }
        }
        @media all and (max-width: 768px){
            display: block;
            float: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            height: 400px;
            div.content {
                p {
                    font-size: 14px;
                }
            }
            &:nth-of-type(2n){
                margin-top: 0;
            }
        }
    }
    &:nth-of-type(2){
        a.service {
            &:nth-of-type(2n){
                margin-top: 60px;
                margin-right: 0;
            }
            &:nth-of-type(2n-1){
                margin-top: 0;
            }
            @media all and (max-width: 768px){
                &:nth-of-type(2n){
                    margin-top: 0;
                }
            }
        }
    }
    @media all and (max-width: $tablet){
        h2 {
            font-size: 24px;
        }
    }
    @media all and (max-width: $mobile){
        h2 {
            font-size: 18px;
        }
    }
}