.module-title-text {
    padding: 50px 0;
    div.half {
        float: left;
        margin-right: 60px;
        &:nth-of-type(2n-1){
            width: calc(40% - 30px);
        }
        &:nth-of-type(2n){
            margin-right: 0;
            width: calc(60% - 30px);
        }
    }
    @media all and (max-width: $tablet){
        div.half {
            margin-right: 0;
            float: none;
            &:nth-of-type(2n-1){
                width: 100%;
            }
            &:nth-of-type(2n){
                width: 100%;
            }
            h3 {
                margin: 15px 0 30px 0;
            }
        }
    }
    @media all and (max-width: $mobile){
        h3 {
            font-size: 20px;
        }
    }
}