.module-video-list {
    padding: 0 0 100px 0;
    .video-container {
        float: left;
        width: calc(50% - 30px);
        margin-right: 60px;
        &:nth-of-type(2n){
            margin-right: 0;
            margin-top: 60px;
        }
        @media all and (max-width: 768px){
            float: none;
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            &:nth-of-type(2n){
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    h3 {
        display: block;
        width: 100%;
        text-align: center;
        margin: 50px 0 0 0;
        float: left;
        a {
            color: #000000;
        }
    }
    @media all and (max-width: $tablet){
        h2 {
            font-size: 24px;
        }
    }
    @media all and (max-width: $mobile){
        h2 {
            font-size: 18px;
        }
    }
}